@import url('https://fonts.googleapis.com/css?family=Comfortaa');

h1 {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

p {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.circle {
	border-radius: 50%;
}

#avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
